
<div class="col-xs-12">
        <div class="row">
            <div class="col-md-7" *ngIf='isMobile'>
                <router-outlet></router-outlet>
            </div>
            <div class="col-md-5">   
                <app-spinner-loader *ngIf="isLoadingRecipes" style="margin: auto;"></app-spinner-loader>
                <app-recipe-list *ngIf="!isLoadingRecipes"></app-recipe-list>
            </div>
            <div class="col-md-7" *ngIf='!isMobile'>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>